@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Noto+Sans+JP:wght@600&family=Rubik+Dirt&display=swap');

/* Variables */

$color-main: rgb(255, 102, 0);
$color-light: #fff;
$color-dark: #444;
$color-black: #000;

$font-logo: 'Rubik Dirt', cursive;
$font-header: 'Noto Sans JP', sans-serif;
$font-text: 'Crimson Text', serif;

/* Extended */

%orange-underline {
  border-bottom: 5px solid $color-main;
  display: inline-block;
  width: 100%;
}

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $color-light;
  font-family: $font-text;
  color: $color-black;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1700px;
  margin: 0 auto;
}

.section-title {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 600;
  background-color: $color-dark;
  text-align: center;
  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

.section-title, .post-author, .list, .logo + span, h2, h3, h4 {
  font-family: $font-header;
}

h3 {
  @extend %orange-underline;
  text-align: center;
  padding-bottom: 40px;
}

/* Layout */

header {
  background-color: $color-main;
  border: 10px solid $color-dark;
  width: 600px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
}

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.posts {
  flex: 2 0 0;
}

.sidebar, .posts {
  background: $color-light;
  margin-right: 10px;
  padding: 40px;
}

.info {
  border: 5px dotted $color-dark;
  padding: 20px;
  font-family: $font-header;
  h4 {
    font-style: italic;
    i {
      display: inline-block;
      color: $color-main;
      margin-right: 5px;
    }
  }
}

/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 50px;
  line-height: 1;
  margin: 0 0 20px 0;
}

.logo + span {
  font-size: 20px;
}

/* Lists */

a {
  text-decoration: none;
  font-family: $font-header;
  color: $color-black;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  .active {
    font-weight: bold;
  }
}

.list.titles, .list.categories, h3 {
  li {
    width: 100%;
  }

  a {
    text-decoration: none;
    font-family: $font-header;
    color: $color-black;
    @extend %orange-underline;
  }
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
}

/* Post */

.post {
  display: none;
  &.active {
    display: block;
  }
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;
  p {
    margin: 0 10px 0 0;
  }
}

/* Tag */

.list.tags {
  display: inline-block;
}

.list.tags li {
  display: inline-block;
  padding-right: 10px;
}

.tag-size-1 {
  font-size: 80%;
}

.tag-size-2 {
  font-size: 110%;
}

.tag-size-3 {
  font-size: 140%;
}

.tag-size-4 {
  font-size: 170%;
}

.tag-size-5 {
  font-size: 200%;
}